[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
undetected-chromedriver = "*"
beautifulsoup4 = "*"
lxml = "*"
pymysql = "*"
pyvirtualdisplay = "*"
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.8"
